<div id="app-intro-de">
    <div class="app-page-header">
        <div class="app-page-title">
            <h1 class="app-page-headline">Musik für das unbekannte Terrain Deiner Seele.</h1>
        </div>
    </div>
    <div class="app-intro">
        <div class="app-intro-left">
            <div class="app-intro-left-content">
                <img class="image-inline" src="{{ page.base_url }}assets/img/intro.jpg" />
            </div>
        </div>
        <div class="app-intro-right">
            <div class="app-intro-right-content">
                <p>Wir schreiben das Jahr 2017. Das Musikbusiness ist mausetot und riecht nicht mal mehr. Im Gegensatz zu den Künstlern: Die duften quicklebendig und fabrizieren frische, wohlschmeckende Hörsubstanz. Aber wie zum Teufel soll man die bitte finden? Das ganze Netz quillt über vor lauter mediokren, gänzlich überflüssigen Veröffentlichungen, die den Blick auf das Wahre, Schöne und Gute völlig verpappen!! Richtig helfen kann einem da nur ein handverlesener, kleiner Trupp unerschrockener, geschmackssicherer Spezialisten, die die Bergung dieser kostbaren Gemmen für einen Appel und ein Ei übernehmen. So kommt man dann wenigstens gelegentlich noch dazu, die heimische Nasenhaarschneidersammlung zu sortieren.</p>

                <p>sng ist nicht nur französisch für brasilianisch, sondern auch der englische Begriff für einen besonderen Aggregatszustand von Wasser: Eisnadeln sind der initiale Eistyp, der an der Oberfläche gefrierenden Ozeanwassers entsteht. Aus ihnen bilden sich Plättchen und Klumpen, was bitte verdammt noch mal im übertragenen Sinn zu verstehen ist! Im Russischen bezeichnet man Menschen als "gefroren" (moroz), die über ein hervorragendes Maß an Eigenheit verfügen, also ziemlich eigen sind. Eigentlich.</p>

                <p>Was uns zum hervorstechendsten Charakteristikum der hier zu findenden Musik bringt: sng ist stilistisch pandimensional, aber in jeder Veröffentlichung so herzwärmend eigen, wie es nur ausreichende Marktferne zu ermöglichen vermag. Oder anders gesagt Musik als "Leckt uns doch alle am A**** ist das geil".</p>

                <p>Die Grundidee ist zwar zunächst die Veröffentlichung von Produktionen aus der eigenen (!) Umgebung, aber das Wachstum der Familie ist wie so viele Prozesse unaufhaltsam unterhaltsam. Greifen Sie zu und genießen Sie das erfrischende Eiswasser der sngeiros.</p>

                <p>Nasdarowje!</p>
	        </div>
        </div>
    </div>
</div>