<div class="app-card app-card-featured">
    <a class="app-card-main app-card-cover" href="{{ page.base_url }}releases/tormenta-sei-ein-braver-hai-friss-deinen-haferbrei">
        <div class="app-card-content">
            <div class="app-card-bg app-card-bg-02">
                &nbsp;
            </div>
            <div class="app-card-mask">
                <div class="app-card-caption">
                    <div class="app-card-caption-content">
                        <div class="app-card-caption-title">
                            Tormenta
                        </div>
                        <div class="app-card-caption-teaser">
                            Sei ein braver Hai - Friss deinen Haferbrei!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

