.app-pagesection-toolbar {
    padding: 1rem;
    margin-bottom: 1rem;
    background: $gray;
    font-family: $app-font-family-base;
    font-weight: normal;
    text-transform: uppercase;
}

.app-pagesection-toolbar-link {
    font-family: $app-font-family-light;
}
