// Footer

.app-footer {
    margin-top: 1rem;
}

.app-footer-content {
    color: $app-gray;
    font-size: $font-size-sm;
    font-weight: 300;
    font-size: 1rem;
    margin: 0 auto;
}

.app-footer-link {
    color: #fff;
    &:hover {
        color: darken(#fff, 6.5%);
    }
}

.app-copyright {
    @extend .container;
    padding: 2rem 1rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    text-align: center;
}
