<div class="app-front-page-cards" id="app-front-page-cards">
    <div class="app-page-header">
        <div class="app-page-title">
            <h1 class="app-page-headline">Unsere aktuellen und zukünftigen Veröffentlichungen</h1>
        </div>
    </div>
    <div class="app-cards app-card-gutter">
        {% include cards/card-01.html %}
        {% include cards/card-02.html %}
        {% include cards/card-03.html %}
        {% include cards/card-04.html %}
        {% include cards/card-05.html %}
        {% include cards/card-06.html %}
        {% include cards/card-07.html %}
        {% include cards/card-08.html %}
    </div>
</div>