<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-copyright">
            <span>&copy; Thomas Sing {{ site.time | date: '%Y' }} &middot;
                <a href="/impressum">Imprint</a> &middot;
                <a href="https://www.facebook.com/thomasjsing">
                	<i class="ion ion-logo-facebook" aria-hidden="true"></i>
                </a> &middot;
                <a href="https://twitter.com/thomassing">
                	<i class="ion ion-logo-twitter"></i>
                </a> &middot; 
                <a href="https://www.instagram.com/thomassing_/">
                    <i class="ion ion-logo-instagram"></i>
                </a> &middot;
                Site by <a href="http://kreativkombinat.de">KK</a>
            </span>
    </div>
</footer>
