<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-copyright">
            <p>&copy; sng Records {{ site.time | date: '%Y' }} &middot;
                <a href="/">Startseite</a> &middot;
                <a href="/impressum">Impressum</a> &middot;
                <a href="/kontakt">Kontakt</a> &middot;
                <a href="https://www.facebook.com/sngrecords/">
                	<i class="ion ion-logo-facebook" aria-hidden="true"></i>
                </a> &middot;
                <a href="https://twitter.com/sngrecords">
                	<i class="ion ion-logo-twitter"></i>
                </a> &middot;
                <a href="https://soundcloud.com/sng-records">
                	<i class="ion ion-md-cloud"></i>
                </a> &middot; 
                <a href="https://www.instagram.com/sngrecords/">
                    <i class="ion ion-logo-instagram"></i>
                </a>
            </p>
    </div>
</footer>
